<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
</head>
<body>

    <div class="ad"></div>

    <div class="content">

        <section class="left_introduce">
            <div class="nav_menu">
                <div class="left_widget_title">关于我们</div>
                <a href="#"><span>公司简介</span></a>
            </div>
            <div>案例展示模板</div>
        </section>

        <section class="right_content">
            <div class="text_title_container">
                <div class="text_title">公司简介</div>
            </div>
            <div class="content_text">
                <span class="">第一段的内容</span>
                <div class="">隔开一二段</div>
                <span class="">第二段内容</span>
            </div>
        </section>


    </div>

</body>
</html>