<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>

<div class="ad_banner">
    <img src="../public/images/bg_ad_1.jpg" width="100%" alt="" />
</div>

    <div class="content">

        <section class="left_introduce">
            <div class="nav_menu">
                <div class="left_widget_title"><span>关于我们</span></div>
                <div class="nav_menu_list"><a href="#"><span>公司简介</span></a></div>
            </div>
            <div>案例展示模板</div>
        </section>

        <section class="right_content">
            <div class="text_title_box">
                <div class="text_title_container">
                    <div class="text_title">公司简介</div>
                </div>
            </div>
            <div class="content_text">
                <span class="">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, esse?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, iusto.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, mollitia.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, nulla?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, ut.
                </span>
                <div class=""></div>
                <span class="">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, facilis?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, sapiente.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, nihil?
                </span>
            </div>
        </section>


    </div>

</body>
</html>