<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案例展示</title>
</head>
<body>

<div class="ad"></div>

<div class="content">

    <section class="left_introduce">
        <div class="nav_menu">
            <div class="left_widget_title">产品中心</div>
            <div>
                <ul>
                    <li><a href="#">基金管理</a></li>
                    <li><a href="#">投资银行</a></li>
                    <li><a href="#">财富管理</a></li>
                </ul>
            </div>
        </div>






        <div>案例展示模板</div>
    </section>

    <section class="right_content">
        <div class="content_title_container">
            <div class="title">产品中心</div>

            <ol>
                <li><a href="">展示的样品图<img src="" alt=""><i></i></a></li>
                <li><a href="">展示的样品图<img src="" alt=""><i></i></a></li>
                <li><a href="">展示的样品图<img src="" alt=""><i></i></a></li>
                <li><a href="">展示的样品图<img src="" alt=""><i></i></a></li>
                <li><a href="">展示的样品图<img src="" alt=""><i></i></a></li>
            </ol>
        </div>
    </section>


</div>

</body>
</html>