<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案例展示</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>

<div class="ad_banner">
    <img src="../public/images/bg_ad_4.jpg" width="100%" alt="" />
</div>

<div class="content">

    <section class="left_introduce">
        <div class="nav_menu">
            <div class="left_widget_title"><span>案例展示</span></div>
            <div class="nav_menu_list">
                <ul>
                    <li><a href="#">基金管理</a></li>
                    <li><a href="#">投资银行</a></li>
                    <li><a href="#">财富管理</a></li>
                </ul>
            </div>
        </div>






        <div>案例展示模板</div>
    </section>

    <section class="right_content">
        <div class="text_title_box">
            <div class="text_title_container">
                <div class="text_title">案例展示</div>
            </div>
        </div>

        <div class="product_container">
            <ul>
                <li><a href="#"><img src="../public/images/product_1.jpg" alt="" /></a><div class="product_name"><a>产品1</a></div></li>
                <li><a href="#"><img src="../public/images/product_2.jpg" alt="" /></a><div class="product_name"><a>产品2</a></div></li>
                <li><a href="#"><img src="../public/images/product_3.jpg" alt="" /></a><div class="product_name"><a>产品3</a></div></li>
                <li><a href="#"><img src="../public/images/product_4.jpg" alt="" /></a><div class="product_name"><a>产品4</a></div></li>
                <li><a href="#"><img src="../public/images/product_5.jpg" alt="" /></a><div class="product_name"><a>产品5</a></div></li>
            </ul>
        </div>
    </section>


</div>

</body>
</html>