<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案例展示模板</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>

    <div class="cases_module">
        <div class="title_wrapper"><h2>案例展示</h2></div>
        <ul>
            <li><i><img src="../public/images/case_1.jpg" /></i> <a href="#">产品1</a></li>
            <li><i><img src="../public/images/case_2.jpg" /></i> <a href="#">产品2</a></li>
            <li><i><img src="../public/images/case_3.jpg" /></i> <a href="#">产品3</a></li>
        </ul>
    </div>


</body>
</html>