<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>

<div class="ad_banner">
    <img src="../public/images/bg_ad_6.jpg" width="100%" alt="" />
</div>

<div class="content">

    <section class="left_introduce">
        <div class="nav_menu">
            <div class="left_widget_title"><span>联系我们</span></div>
            <div class="nav_menu_list"></div>
        </div>






        <div>案例展示模板</div>
    </section>

    <section class="right_content">
        <div class="text_title_box">
            <div class="text_title_container">
                <div class="text_title">联系我们</div>
            </div>
        </div>
        <div class="container">
            <p>地 <span></span> 址:北京市海淀区苏州街18号长远天地大厦B1座1104室</p>
            <p>电 <span></span> 话:400-8896-8896</p>
            <p>传 <span></span> 真:(010)82609363</p>
            <p>邮 <span></span> 编:100080</p>
            <p>网 <span></span> 址:http://www.****.cn</p>
            <p>邮 <span></span> 箱:website_admin@******.com</p>
        </div>
    </section>


</div>

</body>
</html>