<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人才招聘</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>

<div class="ad_banner">
    <img src="../public/images/bg_ad_5.jpg" width="100%" alt="" />
</div>

<div class="content">

    <section class="left_introduce">
        <div class="nav_menu">
            <div class="left_widget_title"><span>人才招聘</span></div>
            <div class="nav_menu_list"></div>
        </div>






        <div>案例展示模板</div>
    </section>

    <section class="right_content">
        <div class="text_title_box">
            <div class="text_title_container">
                <div class="text_title">人才招聘</div>
            </div>
        </div>



        <div>
            <table>
                <tr>
                    <td>
                        <p><span>序号</span></p>
                    </td>
                    <td>
                        <p><span>岗位</span></p>
                    </td>
                    <td>
                        <p><span>岗位描述</span></p>
                    </td>
                    <td>
                        <p><span>招聘人数</span></p>
                    </td>
                    <td>
                        <p><span>薪资</span></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p><span>1</span></p>
                    </td>
                    <td>
                        <p><span>修理工</span></p>
                    </td>
                    <td>
                        <p>
                            <span>1.负责售后服务产线修理</span>
                            <span>2.熟悉导航生产流程</span>
                            <span>3.有维修经验</span>
                        </p>
                    </td>
                    <td>
                        <p><span>1</span></p>
                    </td>
                    <td>
                        <p><span>面议</span></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p><span>2</span></p>
                    </td>
                    <td>
                        <p><span>SMT操作工</span></p>
                    </td>
                    <td>
                        <p>
                            <span>1.熟悉SMT工艺和生产管理</span>
                            <span>2.能适应夜班</span>
                        </p>
                    </td>
                    <td>
                        <p><span>10</span></p>
                    </td>
                    <td>
                        <p><span>3000-6000</span></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p><span>3</span></p>
                    </td>
                    <td>
                        <p><span>普工</span></p>
                    </td>
                    <td>
                        <p>
                            <span>1.身体健康，吃苦耐劳，无不良习惯，服从安排。</span>
                            <span>2.年龄在35岁以下，白班。</span>
                        </p>
                    </td>
                    <td>
                        <p><span>20</span></p>
                    </td>
                    <td>
                        <p><span>2000-5000</span></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p><span>4</span></p>
                    </td>
                    <td>
                        <p><span>拉长</span></p>
                    </td>
                    <td>
                        <p>
                            <span>1.负责产线</span>
                            <span>2.熟悉导航生产流程</span>
                            <span>3.沟通能力强</span>
                        </p>
                    </td>
                    <td>
                        <p><span>2</span></p>
                    </td>
                    <td>
                        <p><span>面议</span></p>
                    </td>
                </tr>

            </table>
        </div>

    </section>


</div>

</body>
</html>