<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人才招聘</title>
</head>
<body>

<div class="ad"></div>

<div class="content">

    <section class="left_introduce">
        <div class="nav_menu">
            <div class="left_widget_title">人才招聘</div>
        </div>





        <div>案例展示模板</div>
    </section>

    <section class="right_content">
        <div class="content_title_container">
            <div class="title">人才招聘</div>
        </div>
        <table>
            <thead>
            <tr>
                <th>序号</th>
                <th>招聘岗位</th>
                <th>岗位描述</th>
                <th>招聘人数</th>
                <th>薪资</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>aa</td>
                <td>bbb</td>
                <td>cccc</td>
            </tr>
            <tr>
                <td>2</td>
                <td>sdfsd</td>
                <td>sdfg</td>
                <td>asdf</td>
            </tr>
            <tr>
                <td>3</td>
                <td>asdaf</td>
                <td>gdsfa</td>
                <td>fdsdg</td>
            </tr>
            <tr>
                <td>4</td>
                <td>asdaf</td>
                <td>fdgsa</td>
                <td>dsfsdg</td>
            </tr>
            </tbody>
        </table>
    </section>


</div>

</body>
</html>