<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻资讯</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>

<div class="ad_banner">
    <img src="../public/images/bg_ad_3.jpg" width="100%" alt="" />
</div>

<div class="content">

    <section class="left_introduce">
        <div class="nav_menu">
            <div class="left_widget_title"><span>新闻资讯</span></div>
            <div class="nav_menu_list">
                <ul>
                    <li><a href="#">新闻资讯</a></li>
                    <li><a href="#">行业资讯</a></li>
                </ul>
            </div>
        </div>



        <div>案例展示模板</div>
    </section>

    <section class="right_content">
        <div class="content_title_container">
            <div class="text_title_box">
                <div class="text_title_container">
                    <div class="text_title">新闻资讯</div>
                </div>
            </div>




            <div class="articles_container">
                <i><img src="../public/images/news_pic.jpg" /></i>
                <div class="text">
                    <div class="text_title"><a href="#">0-10岁的小孩子买国寿“鑫如意”保险收益怎么样? </a></div>
                    <div>发布日期:2017-9-23</div>
                    <p>応损捠捡换攳，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧！圩圪囡団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢；峣峤屴屵屶屷宓宔宖忟忡，忢忣忥忦忨忩忪忬忭忮忯忰。</p>
                </div>
            </div>
            <div class="news_list">
                <ul>
                    <li>
                        <div><i><img src="../public/images/s_flag.jpg" /> </i><a href="#">留学保险:国内买还是国外买划算?</a></div> <span>2017-9-23</span>
                    </li>
                    <li>
                        <div><i><img src="../public/images/s_flag.jpg" /></i><a href="#"> 保险产品也带着浓郁“年味”</a></div> <span>2017-9-23</span>
                    </li>
                    <li>
                        <div><i><img src="../public/images/s_flag.jpg" /></i><a href="#"> 如何优雅地“抢”保险公司的钱?</a></div> <span>2017-9-23</span>
                    </li>
                    <li>
                        <div><i><img src="../public/images/s_flag.jpg" /></i><a href="#"> 农民工养老保险待遇将更高</a></div> <span>2017-9-23</span>
                    </li>
                    <li>
                        <div><i><img src="../public/images/s_flag.jpg" /></i><a href="#">	5个理财大招 助父母告别“离退休综合症”</a></div> <span>2017-9-23</span>
                    </li>
                </ul>
            </div>

        </div>
    </section>


</div>

</body>
</html>