<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻资讯</title>
</head>
<body>

<div class="ad"></div>

<div class="content">

    <section class="left_introduce">
        <div class="nav_menu">
            <div class="left_widget_title">新闻资讯</div>
            <ul>
                <li><a href="#">新闻资讯</a></li>
                <li><a href="#">行业资讯</a></li>
            </ul>

        </div>



        <div>案例展示模板</div>
    </section>

    <section class="right_content">
        <div class="content_title_container">
            <div class="title">新闻资讯</div>
            <div>
                <i>图片</i>
                <div>
                    <a href="#">标题</a>
                    <div>发布日期</div>
                    <p>内容</p>
                </div>
            </div>
            <ul>
                <li>
                    <div><i></i><a href="#"></a></div> <span></span>
                </li>
                <li>
                    <div><i></i><a href="#"></a></div> <span></span>
                </li>
                <li>
                    <div><i></i><a href="#"></a></div> <span></span>
                </li>
                <li>
                    <div><i></i><a href="#"></a></div> <span></span>
                </li>
                <li>
                    <div><i></i><a href="#"></a></div> <span></span>
                </li>
            </ul>
        </div>
    </section>


</div>

</body>
</html>